[Unit]
Description=VitalAgentRESTApp
After=network.target

[Service]
User=centos
Group=centos
ExecStart=/home/centos/vital-agent-rest.sh
Restart=always

[Install]
WantedBy=default.target
